* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFF0F5;
  
  min-height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-box {
  height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textBold {
  position: absolute;
  color: #7B5E57;
  font-weight: bold;
  margin-top: 50vh;
  visibility: hidden;
  
  top: 40vh;
}

.card-note {
  background:#FFFFFF;
  width: 75vw;
  min-height: 35vh;
  aspect-ratio: 1:1;
  
  padding: 1rem;
  border-radius: 1rem;
  
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  
  a {
    color: #7B5E57;
    font-weight: bold;
  }
  
  #img-note {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px auto;
    top: -10vh;
    
    img {
      position: absolute;
      width: 100%;
      
      top: 0;
      left: 0;
      object-fit: cover;
    }
    
    #paper {
      z-index: 2;
      visibility: hidden;
      transition: transform 1s;
    }
    
    #fold {
      z-index: 4;
      transition: transform 1s;
    }
    
    #note-open {
      z-index: 1;
      visibility: hidden;
    }
    
    #note-close {
      z-index: 3;
    }
  }
}

#box-2 {
  display: none;
  
  #slideEnd {
    visibility: hidden;
  }
}

.blank-div {
  width: 90vw;
  min-height: 75vh;
  
  #blank-paper {
    width: 100%;
  }
  
  .paperDiv {
    position: absolute;
    height: 40vh;
    width: 65vw;
    left: 18vw;
    top: 120.5vh;
    margin: 20 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    padding: 1rem;
    
    p {
      color: #4B2E2B;
      font-weight: bold;
      height: 80%;
      width: 100%;
      
      overflow: hidden;
      word-break: break-word
    }
    
    img {
      width: 50%;
    }
    
    .btn {
      border: none;
      width: 50%;
      padding: 1vw;
      border-radius: 0.5rem;
      background: #FF8FAB;
    }
    
  }
}

#box-3 {
  display: none;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}